/* ZERANDO CSS -----------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
:focus {outline: 0 none;}



/*------------------------------------------------*/


/* GERAIS ----------------------------------------*/
html{font-size: 11px;}

body{background-color:#F2F4F1; }

form{font-size: 11px;margin: 10px 0px 10px 0px;}

a img{border: 0px; vertical-align: middle;}

span img{vertical-align: middle;}

*{font-family: verdana,tahoma,arial;list-style: none outside none;margin: 0; padding: 0;}

ul.lista, li.lista{
	list-style-type: initial !important;
	list-style-position: inside !important; 
}

ul.lista-roman, li.lista-roman{
	padding-top: 8px;
	list-style-type: upper-roman !important;
	list-style-position: inside !important; 
}

button{margin: 0px 0px 0px 0px;}

label{margin: 0px 5px 0px 5px;}

td{padding:2px; vertical-align:middle!important; line-height: 11px; }

.right{float: right;}

.left{float: left;}

.maiusculo{
	text-transform: uppercase;
}
.minusculo{
	text-transform: lowercase;
}


/*------------------------------------------------*/


/* ESTRUTURA -------------------------------------*/

#header{width:1006px; width:1180px \0/; height:159px;margin: 0 auto;background-image:url(../imagens/bgtopo.png);}

#borda_top {width:1006px; width:1180px \0/; height:44px; margin: 0 auto;background-color: #FFF; color: #999;line-height: 44px;}

#body_geral{width:1008px; width:1180px \0/; min-height: 350px;margin: 0 auto;background-color:#FFF; border: 1px solid #78916A;}

#footer{width:1006px; width:1180px \0/; height:200px; margin: 0 auto; background:#FFF; border-bottom: 1px solid #78916A;text-align:center;}

/*------------------------------------------------*/


/* LOGO ------------------------------------------*/

/*#logo{width:134px;height:193px;position: relative; background:url(../imagens/logo.png) no-repeat transparent; margin-top:4px; margin-left: 20px;}*/

/*------------------------------------------------*/


/* BLOCO LOGIN -----------------------------------*/

#login {float: right; width:1000px;height:34px;color: #78916A;font-weight: bold; margin: 0px 20px 0px 0px; }

#login table{float: right; width: 780px;}

#login td{text-align: right;}

#login a{text-decoration:none;color: #909090; font-weight: bold;}

#login a:hover{text-decoration:none;color:#78916A; font-weight: bold;}

#TextoLogin{float: left; width: 450px; padding: 0px 25px 0px 25px;}

#TextoLogin p{margin:24px 0px 24px 0px;  line-height: 16px;}

#BoxLogin{float: left;width: 250px; margin:0px; padding: 0px;}

#BoxLogin input{background-color: #fff; border: 1px solid #ccc; height: 20px; line-height: 16px; padding: 4px; color: #78916A; font-size: 15px;}

#BoxLogin .buttonLogin{background-color: #78916A; color: #fff; height: 28px; width: 75px;line-heiht: 16px; font-size: 15px;padding: 4px;  border: 1px solid #394633}
/*------------------------------------------------*/

/* BLOCO NOVO MENU ------------------------------------*/

#menu{ float:left; width:210px; ;margin-top:35px;margin-bottom: 35px;margin-left: 0px;border-right: 1px dotted #CCCCCC; padding-right: 3px; font-size: 11.5px;}

#menu .inicialButton a{ margin-top: 8px;display: block; border-left: 3px solid #5C7F1E; padding: 4px; text-decoration: none; color: #000; line-height: 22px; font-weight: bold;}

#menu .inicialButton a:hover{ background-color: #EDE9EF;}

#menu .accordionButton { margin-top: 8px;width: 205px;}

#menu .accordionButton {  }

#menu .accordionButton a{display: block;  border-left: 3px solid #5C7F1E; padding: 4px; text-decoration: none; color: #000; background:url(../imagens/setaDown.png) no-repeat right; line-height: 22px; font-weight: bold;}

#menu .accordionButton a:hover{ background:#EDE9EF url(../imagens/setaDown.png) no-repeat right;}
	
#menu .accordionContent a{ display: block; border-left: 3px solid #9BBB59; padding: 4px; text-decoration: none;color: #000; margin-top: 8px; line-height: 22px;}

#menu .accordionContent a:hover{ background-color: #EDE9EF;}

#menu .accordionContent ul{ margin: 0px;padding: 0px;}

#menu .accordionContent li{ margin: 0px 0px 0px 10px;padding: 0px; list-style: none;}  
	
#menu .on {	background: #EDE9EF;}
	
#menu .over {  }

/*------------------------------------------------*/


/* BLOCO CONTEUDO --------------------------------*/

#cont_princ{float: left;width:783px; width:920px \0/;margin-left:4px;font-size: 12px; line-height: 12px;}

#cont_princ h3{	font-size: 1.1em;}

#cont_princ .bgTable01{background-image: url("../imagens/bgTable01.png"); width:205px; height:129px; vertical-align:middle;color: #C4D79D; font-size: 12px;line-height: 16px;}

#cont_princ .bgTable02{background-image: url("../imagens/bgTable02.png"); width:205px; height:129px; vertical-align:middle;color: #B4CC82; font-size: 12px;line-height: 16px;}

#cont_princ .bgTable03{background-image: url("../imagens/bgTable03.png"); width:205px; height:129px; vertical-align:middle;color: #fff; font-size: 12px;line-height: 16px;}

#cont_princ .bgTable04{background-image: url("../imagens/bgTable04.png"); width:205px; height:129px; vertical-align:middle;color: #667E34; font-size: 12px;line-height: 16px;}

#cont_princ .bgTable05{background-image: url("../imagens/bgTable05.png"); width:205px; height:129px; vertical-align:middle;color: #3A481E; font-size: 12px;line-height: 16px;}

#cont_princ .bgTableBannerHome{background-image: url("../imagens/bgTableBannerHome.png"); width:220px; height:120px; vertical-align:middle;color: #fff; font-size: 14px;line-height: 17px;}

#cont_princ .bgTableBannerHome b{color: #3A481E; font-size: 13px;line-height: 22px;}

#cont_princ fieldset{border: 1px solid #9BBB59;}

#cont_princ fieldset legend{font-size:11px; color:#3A481E;font-weight: bold; padding: 4px; }

#cont_princ hr {border-top: 1px solid #3A481E;border-bottom: 1px solid #fff;border-left: 1px solid #fff; border-right: 1px solid #fff; margin: 20px auto;width: 750px; text-align: center;}

#cont_princ .hrInsideTab{border-top: 1px solid #3A481E;border-bottom: 1px solid #fff;border-left: 1px solid #fff; border-right: 1px solid #fff; margin: 20px auto;width: 90%; text-align: center;}

#cont_princ .questionario td {font-size: 12px;}

#cont_princ p{margin: 20px auto;}

#cont_princ td{line-height: 12px; vertical-align:middle;}

#cont_princ td hr {border-top: 1px solid #3A481E;border-bottom: 1px solid #fff;border-left: 1px solid #fff; border-right: 1px solid #fff; margin: 20px auto;width: 750px; text-align: center;}

#cont_princ .TabCinza {background-color:#F2F4F 1; border-top: 1px solid #ccc; margin: 0px; width: 770px; padding: 2px 0px 0px 0px; }

#cont_princ .TabBranco {background-color:#fff; border-top: 1px solid #ccc; margin: 0px;width: 770px; padding: 2px 0px 0px 0px;}

#cont_princ .questionario {font-size: 12px;}


/*------------------------------------------------*/


/* PROPRIEDADES CONTEUDO --------------------------*/

.titulo{background: url("../img/bkg-titulo.png") no-repeat scroll left center #EDE9EF;width: 730px;color: #F1592A; font-size: 1.1em;padding: 29px; display: block;}

.titulo h3 {font-size: 1.1em; color: #5D7750;}

.titulo-grupo{color: #5D7750; font-weight: normal; margin-bottom: 15px;font-size: 12px;}

.ui-dt-c{font-size: 11px;}

.ui-growl {right:32px!important;top: 106px!important;}

.ui-wizard-step-title{font-size: 13px!important;}

#form_avancar{width: 742px;}

#cont_princ table.aviso-home tr td{color: #5D7750; font-weight: bold; margin-bottom: 15px; font-size: 12px; line-height: 120%;}


/*------------------------------------------------*/

/* COR DE FUNDO TITULOS*/

.cor_titulos{color: #5D7750;}

/*-------------------------------------------------*/

/* FOOTER ----------------------------------------*/

#footer hr {border-top: 1px solid #D7D7D7;border-bottom: 1px solid #fff; margin: 10px auto;width: 900px; text-align: center;}

.Logos {width:300px; height: 30px;text-align: center; margin: 0 auto;padding:20px 0px 20px 0px;}

.Logos li {float: left; margin-left: 30px;}

.Logos li a {display: block; height: 29px; width: 100px;}

.Logos li a span {display: none;}

.Logos .logoCERB{display: block;background-image: url("../imagens/logo_cerb.png"); width: 60px; height: 29px; }

.Logos .logoINEMA{display: block;background-image: url("../imagens/logo_inema.png"); width: 90px; height: 29px; }

.Logos .logoSEMA{display: block;background-image: url("../imagens/marca_menor.png"); width: 100px; height: 32px; }

.recomenda {width: 310px;text-align: center; margin: 0 auto;}

.recomenda .textoRecomenda{float: left;width: 250px;font-size: 9px; text-align: left;margin-top: 15px;}

.recomenda .logoChrome{float: left;display: block;width: 28px; height: 28px;background-image: url("../imagens/logoChrome.png");margin-top: 15px;}

.recomenda .logoFirefox{float: left;display: block;width: 28px; height: 28px;background-image: url("../imagens/logoFirefox.png");margin-top: 15px;}

.recomenda span {display: none;}

.dialog_confirm{
 	left: 40% !important;
    top: 45% !important;		
}

.dialog_termos_posto{
	left: 40% !important;
    top: 20% !important;
}

.dialog_termos_erb{
	top:25% !important;
	left:20% !important;	
}

.dialog_loc_geo{
	top:-520px !important;
	left:35% !important;	
}

.modalFirefox{top:40% !important; left:40% !important;}

.wrapword{ white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ white-space: pre-wrap; /* css-3 */ word-wrap: break-word; /* Internet Explorer 5.5+ */ }


.ui-growl{
    left: 40% !important;
    margin: 6% 0 0 !important;	
    width: 301px !important;
    z-index: 9999 !important;
    position: static;
}

.ui-datatable .ui-paginator {
    white-space: pre-wrap;
}

.ui-datatable-data td table td, .datatable-sem-borda {
	border: none !important;
}

* html .ui-growl-icon-close {
    right: 3px !important;
    top: 5px !important;
}

.ui-growl-icon-close {
    cursor: pointer ;
    right: 3px !important;
    position: absolute ;
    top: 5px !important;
}

.ui-dialog {top:100px \0/ !important ;}

.text-center{
	text-align: center;
}

.input-left{
	float: left;
	width: 100px;
}

.ui-panelgrid tr, .ui-panelgrid td {
	border:0 !important;
}

.font-req-declaracao{
	font-size: 12px; 
	font-weight: bold; 
	text-align:justify;"
}

.font-portaria{
	font-size: 12px; 
	text-align:justify;"
}

.sublinhado{
	text-decoration: underline;
}

/* FCE's - Mineração */
.quebra-de-linha-node-substancia-mineral span.ui-tree-node-label {
	/* word-wrap: break-word; */
	width: 550px;
}

.no-border ol {
	border: none;
	line-height: 15px;
}

.no-red-border-required input..ui-state-error{
	border: none;
}

.line-height-small{
    line-height:1.0;
}

.line-height-medium{
    line-height:1.4;
}

.line-height-large{
    line-height:1.8;
}

ul.disc, li.disc{
    list-style-type: disc !important;
    list-style-position: outside !important;
}

li ul .none {
    list-style-type: none !important;
    list-style-position: outside !important;
}

li ul .disc  {
    list-style-type: disc !important;
    list-style-position: outside !important;
}

li ul .circle {
    list-style-type: circle !important;
    list-style-position: outside !important;
}

li ul .square {
    list-style-type: square !important;
    list-style-position: outside !important;
}

li ul .lista{
    list-style-type: initial !important;
    list-style-position: outside !important;
}

.text-justify{
    text-align: justify;    
}

.text-left{
    text-align: left;    
}

.text-right{
    text-align: right;    
}

.text-center{
    text-align: center;    
}

.margin {
	margin-top: 15px; 
	margin-bottom: 15px;
}

/**TODO
	Mover para seia.css
*/

/*Propiedadades para texto*/
.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-justify{
	text-align: justify;
}

.text-left{
	text-align: left;
}

.text-underline{
	text-decoration: underline
}

.font-small{
	font-size: 10px;	
}
.font-medium{
	font-size: 16px;
}
.font-large{
	font-size: 20px;
}

.line-height-small{
	line-height:1.0;
}

.line-height-medium{
	line-height:1.4;
}

.line-height-large{
	line-height:1.8;
}

.maiusculo{
	text-transform: uppercase;
}
.minusculo{
	text-transform: lowercase;
}

.text-justify{
	text-align: justify;	
}

.text-left{
	text-align: left;	
}

.text-right{
	text-align: right;	
}

.text-center{
	text-align: center;	
}

.text-espaco-simples{
	line-height: 1.0;	
}

.text-espaco-medio{
	line-height: 1.5;	
}

.text-espaco-duplo{
	line-height: 2.0;	
}

.link{
	color:blue !important;
}



/* Listas e Marcadores */

ul.disc, li.disc{
	list-style-type: disc !important;
	list-style-position: outside !important;
}

li ul .none {
	list-style-type: none !important;
	list-style-position: outside !important;
}

li ul .disc  {
	list-style-type: disc !important;
	list-style-position: outside !important;
}

li ul .circle {
	list-style-type: circle !important;
	list-style-position: outside !important;
}

li ul .square {
	list-style-type: square !important;
	list-style-position: outside !important;
}

li ul .lista{
	list-style-type: initial !important;
	list-style-position: outside !important;
}


/*Margens e espaçamentos */

.hg1{
	height: 10%;
}
.hg2{
	height: 20%;
}
.hg3{
	height: 30%;
}
.hg4{
	height: 40%;
}
.hg5{
	height: 50%;
}
.hg6{
	height: 60%;
}
.hg7{
	height: 70%;
}
.hg8{
	height: 80%;
}
.hg9{
	height: 90%;
}
.hg10{
	height: 100%;
}
.mt1{
	margin-top: 10px;
}
.mt2{
	margin-top: 20px;
}
.mt3{
	margin-top: 30px;
}
.mt4{
	margin-top: 40px;
}
.mt5{
	margin-top: 50px;
}
.mt6{
	margin-top: 60px;
}
.mt7{
	margin-top: 70px;
}
.mt8{
	margin-top: 80px;
}
.mt9{
	margin-top: 90px;
}
.mt10{
	margin-top: 100px;
}
.ml1{
	margin-left: 10px;
}
.ml2{
	margin-left: 20px;
}
.ml3{
	margin-left: 30px;
}
.ml4{
	margin-left: 40px;
}
.ml5{
	margin-left: 50px;
}
.ml6{
	margin-left: 60px;
}
.ml7{
	margin-left: 70px;
}
.ml8{
	margin-left: 80px;
}
.ml9{
	margin-left: 90px;
}
.ml10{
	margin-left: 100px;
}
.pd1{
	padding: 10px;
}
.pd2{
	padding: 20px;
}
.pd4{
	padding: 30px;
}
.pd4{
	padding: 40px;
}
.pd5{
	padding: 50px;
}
.pd6{
	padding: 60px;
}
.pd7{
	padding: 70px;
}
.pd8{
	padding: 80px;
}
.pd9{
	padding: 80px;
}
.pd10{
	padding: 100px;
}

.basic-border{
	border: 1px solid #229525;
}

.clean{
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
}

td .clean{
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
}

.titulo-campo {
  font: 10px arial, sans-serif;
  color: #5D7750;
  font-weight: bold;
}

.clean td{
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
}

/* grid **/
.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6,
.col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 {
  float: left;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}


/* Cores */
.green{
	color:#5D7750;
}

.red{
	color:red;
}

.blue{
	color: blue;
}



/*Icones*/
.lupa {
    background-image: url(/resources/img/ico-pesquisa.png) !important; 
}


/* Posicionamento */
.right{
	float: right;
}
.left{
	float: left;
}


/* Tamanhos */
.btn-medio{
	width: 100px;
}

.btn-large{
	width: 150px;
}

.btn-extra-large{
	width: 200px;
}

.box{
	padding: 3px 3px 3px 0;
	margin: 0px 0px 0px 0;
	vertical-align: middle; 
}

.cleanPaddingTD td{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/* Alinha o label do h:selectOneRadio com o ícone de seleção */
table tbody tr td label{
	vertical-align: top;
}

.middle table thead tr th{
	vertical-align: middle;
}

.manyCheckColumns tr {
   float: left;
    width: 50%;
}

.grid-border-15 {
	margin-top:15px; 
	margin-left:15px; 
	margin-bottom:15px;
}

.fieldset{
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.legend{
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ui-widget{
	font-size: 11px !important;
}

.ui-widget .ui-widget{
	font-size: 11px !important;
}

.bold{
	font-weight:bold;
}
