/* #######

	Defini��es de apresenta��o dos elementos de formul�rio:
	
		.form-label
		.form-text
		.form-paginador
		.form-select
		.form-textarea
		.form-check-radio		
		.form-botton
		.form-barra-botoes
		
####### */

label em {
	color:#a548d7
}

.form-label {
	font-weight	:bold;
}


.form-label img {
	cursor:pointer;
	vertical-align:middle
}

.form-campo-obrigatorio {
  color :#fdb813;
}

.form-text, .form-select, .form-textarea {
  	background     :#fcfcfc;
	border		   :1px solid #ccc;
	margin-top     :2px;
	vertical-align :bottom;
}

.form-paginador {
  background     :#fcfcfc;
	border		     :1px solid #ccc;
	color		       :#6b5a22;
  font-weight    :bold;
	margin-top     :2px;
  text-align     :right;
	vertical-align :top;
  width          :33px; 
}

.form-textarea {
  font-size :1.1em;
}

.form-check-radio {
  vertical-align:middle;
}

.form-button {
	background	:url(/resources/img/bkg-botao.png) repeat-x;
border:1px solid #ccc;
    color       :#333;
    cursor      :pointer;
	font-weight	:bold;
	height		:20px;
	padding		:0 10px
}

.form-button-disabled {
	background	:#dedede;
	color       :#c0c0c0;
	font-weight	:bold;
	padding		  :3px;
}

.form-barra-botoes-consulta {
  border-top    :1px dotted #ccc;
  border-bottom :1px dotted #ccc;
  margin        :10px 0 15px 0;
  padding       :5px 0;
  text-align    :right;
}

.form-barra-botoes {
  background    :#f7f7f7;
  border-top    :1px dotted #ccc;
  border-bottom :1px dotted #ccc;
  margin-top    :10px;
  padding       :5px;
  text-align    :right;
}

.form-barra-botoes-consulta p, .form-barra-botoes p {
	 float:left;
	font-size:0.7em
}

.form-barra-botoes-consulta em, .form-barra-botoes p em {
	 color:#a548d7
}

.form_label_b {font-weight: bold;}

.form_text_pp, .form_combo_pp {width:40px;height:17px;margin:1,0,0,2;line-height: 10pt;}	
.form_text_p, .form_combo_p {width:65px;height:17px;margin:1,0,0,2;line-height: 10pt;}
.form_text_pm, .form_combo_pm {width:80px;height:17px;margin:1,0,0,2;line-height: 10pt;}		
.form_text_m, .form_combo_m {width:120px;height:17px;margin:1,0,0,2;line-height: 10pt;}		
.form_text_g, .form_combo_g {width:250px;height:17px;margin:1,0,0,2;line-height: 10pt;}		
.form_text_gg, .form_combo_gg {width:300px;height:17px;margin:1,0,0,2;line-height: 10pt;}	
.form_text_exgg,.form_combo_exgg {width:450px;height:17px;margin:1,0,0,2;line-height: 10pt;}