table {
	color			:#666;
	font-size		:0.8em;
	margin-bottom	:10px;
	width			:100%
}

.table-grid caption {
	background		:url(/resources/img/bkg-caption.png) repeat-x;
	border-top		:1px solid #ddd;
	border-bottom	:1px solid #ddd;
    font-size   	:1.1em;
	font-weight		:bold;
	padding     	:5px 0;
	margin      	:0 2px;
}

.table-grid th, tr.linha-alternada, td.linha-alternada {
	background:#f9f9f9;
}

.table-grid tr.linha-alternada-grid {
	background:#C1CDCD;
}

.table-grid td, th, caption {
	padding:3px;
}

.table-grid th.acoes {
	background:#eee
}
 
.table-grid td.align-center {
	text-align:center
}

.table-grid td.align-right {
	text-align:right
}

.table-form td {
  padding       :3px;
  vertical-align:top;
}

.table-detalhar td {
	font-weight	:bold;
	padding		:3px
}

.table-detalhar td span {
	display		:block;
	font-weight	:normal
}
.totalGrid{
	background :#e0e0e0;

}
