/* #######

  Arquivo responsável pelo estilo dos links
  
  .link-logout
  .ajuda-contextual
  .link-imprimir
  .link-home
  .link-paginador
  .caminho-navegacao
	
####### */

a {
	color			      :#666;
	text-decoration	:underline;
}

a:hover {
	text-decoration	:none;
}

.link-imprimir, .link-home {
  color           :#fff;
	display         :inline-block;
	font-size       :1.1em;
	font-weight     :bold;
	padding         :1px 4px;
	text-decoration	:none;
} 

.link-imprimir {
	background :#8d8f26;
}

.link-home {
	background :#686868;
}

.link-paginador {
	text-align	:center;
	font-size:10px;
}

.link-paginador a {
	background		  :#e3e3e3;
	border		   	  :1px solid #e3e3e3;
	color           :#3a3a3a;
	display         :inline-block;
	font-weight     :bold;
	padding         :2px 4px;
	text-decoration	:none;
}

.link-paginador a:hover {
	text-decoration	:underline;
}

.link-paginador a.link-pagina-ativa {
	background		  :#fff;
	border		   	  :0;
  color           :#cc9933;
	display         :inline-block;
	font-weight     :bold;
	padding         :2px 4px;
	text-decoration	:underline;
}